build/
*.ipr
/fabric/run/**
/neoforge/run/**
!/fabric/run/config/
!/fabric/run/config/academy/
!/fabric/run/config/academy/assets/
!/fabric/run/config/academy/assets/**
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch